@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Avenir Book';
    src: url('/fonts/Avenir-Book.woff2') format('woff2'),
        url('/fonts/Avenir-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/Avenir-Heavy.woff2') format('woff2'),
        url('/fonts/Avenir-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/Avenir-Medium.woff2') format('woff2'),
        url('/fonts/Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/Avenir-Light.woff2') format('woff2'),
        url('/fonts/Avenir-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/Avenir-Black.woff2') format('woff2'),
        url('/fonts/Avenir-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: 'Avenir', sans-serif!important;
}

@media (min-width: 50rem) {

  .container {
    max-width: 90rem;
  }
}


@keyframes arc-move {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(50vw, -120px);
  }
  100% {
    transform: translate(100vw, 0);
    opacity: 1;
  }
}

.animate-arc-move {
  animation: arc-move 7s linear infinite;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  opacity: 0;
  animation: fadeInLeft 1.5s ease-out 0s forwards;
}

.fade-in-left-delayed {
  opacity: 0;
  animation: fadeInLeft 1.6s ease-out 0.2s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 1.6s ease-out 0.2s forwards;
}


#worksPage{
  @keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in-left {
  opacity: 0;
  animation: fadeInLeft 1.2s ease-out 0s forwards;
}

.fade-in-left-delayed {
  opacity: 0;
  animation: fadeInLeft 1.3s ease-out 0.2s forwards;
}

}